@import "../global/variables.scss";

.button {
  display: block;
  height: 42px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: $font-weight-redular;
  font-size: $font-size-m;

  border-radius: $border-radius;
  color: $primary-font-color;
  cursor: pointer;

  &__image {
    border-radius: 50%;
  }

  &__icon path {
    fill: $secondary-bg-color;
  }

  &__nav {
    border: 1px solid $secondary-bg-color;
    color: $secondary-font-color;

    &_active {
      background-color: $secondary-bg-color;
      color: $primary-font-color;
    }

    &:hover {
      background: $secondary-bg-color-hover;
      color: $primary-font-color;
    }
  }

  &__dropdown {
    -moz-column-gap: 14px;
    column-gap: 14px;

    &_active {
      background-color: $secondary-bg-color;
      color: $primary-font-color;
    }

    &_active path {
      fill: $secondary-bg-color-active;
    }
  }

  &__disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &__style {
    &_primary {
      color: $secondary-font-color;
      background-color: $primary-bg-color;

      &:hover {
        background-color: $primary-bg-color-hover;
      }

      &:active {
        background-color: $primary-bg-color-active;
      }

      &_disabled {
        color: $font-color-disabled;
        background-color: $primary-bg-color-disabled;
      }
    }

    &_secondary {
      border: 1px solid $border-color;

      &:hover {
        background-color: $secondary-bg-color-hover;
        border-color: $border-color-hover;
      }

      &:active {
        background-color: $secondary-bg-color-active;
        border-color: $border-color-active;
      }

      &_disabled {
        opacity: 0.5;
      }
    }
  }

  &__size {
    &_small {
      min-width: 42px;
    }
  }
}