@import "../global/variables.scss";

.item-card {
  position: relative;
  height: 69px;
  width: 100%;
  padding: 0 16px 8px 16px;

  display: flex;
  justify-content: space-between;
  -moz-column-gap: 16px;
  column-gap: 16px;

  border-bottom: 1px solid $border-color-active;

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    row-gap: 4px;
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }

  &__name {
    display: -webkit-box;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  &__footer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }

  &__id {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__create-group,
  &__edit-group {
    display: flex;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }

  &__create-group {
    max-width: 65%;
    justify-content: start;
  }

  &__edit-group {
    width: 35%;
    justify-content: end;
  }

  &__info-label {
    color: $font-color-disabled;

    &__collapsed {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
  &__status {
    color: $secondary-font-color;
    border-radius: $border-radius;
    padding: 0 8px;

    &_draft,
    &_in-progress,
    &_testing {
      background-color: $bronze-color;
    }

    &_completed,
    &_done,
    &_losed,
    &_active {
      background-color: $primary-color;
    }

    &_deleted {
      background-color: $error-color;
    }

    &_in-active {
      background-color: $disabled-color;
    }
  }

  &__edit-button {
    align-self: center;
    display: none;
  }

  &:hover &__edit-button {
    display: flex;
  }
}