@font-face {
  font-family: 'OpenSans';
  src: url('src/assets/fonts/openSans/regular/OpenSans-Regular.ttf') format('ttf'),
       url('src/assets/fonts/openSans/regular/OpenSans-Regular.woff') format('woff'),
       url('src/assets/fonts/openSans/regular/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('src/assets/fonts/openSans/semiBold/OpenSans-SemiBold.ttf') format('ttf'),
       url('src/assets/fonts/openSans/semiBold/OpenSans-SemiBold.woff') format('woff'),
       url('src/assets/fonts/openSans/semiBold/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}