@import "../variables.scss";

.button {
  display: block;
  height: 42px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: $font-weight-redular;
  font-size: $font-size-m;

  border-radius: $border-radius;
  color: $primary-font-color;
  cursor: pointer;

  &__image {
    border-radius: 50%;
  }

  &__icon path {
    fill: $secondary-bg-color;
  }

  &--disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &--primary {
    color: $secondary-font-color;
    background-color: $primary-bg-color;

    &:hover {
      background-color: $primary-bg-color-hover;
    }

    &:active {
      background-color: $primary-bg-color-active;
    }

    &-disabled {
      color: $font-color-disabled;
      background-color: $primary-bg-color-disabled;
    }
  }

  &--secondary {
    border: 1px solid $border-color;

    &:hover {
      background-color: $secondary-bg-color-hover;
      border-color: $border-color-hover;
    }

    &:active {
      background-color: $secondary-bg-color-active;
      border-color: $border-color-active;
    }

    &-disabled {
      opacity: 0.5;
    }
  }

  &--nav {
    border: 1px solid $secondary-bg-color;
    color: $secondary-font-color;

    &-active {
      background-color: $secondary-bg-color;
      color: $primary-font-color;
    }

    &:hover {
      background: $secondary-bg-color-hover;
      color: $primary-font-color;
    }
  }

  &--dropdown {
    -moz-column-gap: 14px;
    column-gap: 14px;

    &-active {
      background-color: $secondary-bg-color;
      color: $primary-font-color;
    }

    &-active path {
      fill: $secondary-bg-color-active;
    }
  }

  &--small {
    min-width: 42px;
  }
}
