// ------- Main colors ------- //
$primary-color: #1F75CB;
$secondary-color: #FFFFFF;
$disabled-color: #8E8E8E;
$error-color: #EE4222;
$bronze-color: #9E6955;
$border-color: #00000026;

$primary-bg-color: $primary-color;
$secondary-bg-color: $secondary-color;

// -------  Color states ------- //
$primary-bg-color-hover: #1068BF;
$primary-bg-color-active: #0B5CAD;
$primary-bg-color-disabled: #DCDCDE;

$secondary-bg-color-hover: #ECECEF;
$secondary-bg-color-active: #DCDCDE;

$border-color-hover: #12131680;
$border-color-active: #1C1C1C;
$border-color-error: $error-color;
$border-color-disabled: #00000026;
$border-color-bronze: $border-color;

// -------  Font colors ------- //
$primary-font-color: #1C1C1C;
$secondary-font-color: #FFFFFF;

// -------  Font color states------- //
$font-color-disabled: $disabled-color;
$font-color-error: $error-color;
$font-color-placeholder: #D9D9D9;

// ------- Font size ------- //
$font-size-m: 14px;
$font-size-l: 24px;
$font-size-xl: 40px;

// ------- Font weight ------- //
$font-weight-redular: 400;
$font-weight-bold: 600;

